@model CompanyManager.Models.ViewModels.DetailsVM

<div class="borderBlack">
    <input asp-for="@Model.Company.Id" hidden />
    <div>
        <div class="flex">
            <h5 style="width:20%">Company details</h5>
            <p>@Model.Company.Name</p>
        </div>
        <div class="content">
            <div class="group" style="width:30%">
                <div class="gridGroup">
                    <div class="box"><h5>Info</h5></div>
                    <div style="text-align:end"><i class="fa-solid fa-check fa-lg"></i></div>

                    <div class="box">ID:</div>
                    <div class="form-control">@Model.Company.Id</div>

                    <div class="box">Name:</div>
                    <div class="form-control">@Model.Company.Name</div>

                    <div class="box">Address:</div>
                    <div class="form-control">@Model.Company.Address</div>

                    <div class="box">City:</div>
                    <div class="form-control">@Model.Company.City</div>

                    <div class="box">State:</div>
                    <div class="form-control">@Model.Company.State</div>
                </div>
            </div>

            <div class="group" style="width:30%">
                <div class="gridGroup">
                    <div class="box"><h5>History</h5></div>
                    <div style="text-align:end"><i class="fa-solid fa-rotate fa-lg"></i></div>
                </div>
                <div class="scrollItem">
                    @if (Model.History.Count() > 0)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Order Date</th>
                                    <th>Store City</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.History)
                                {
                                    <tr>
                                        <td>@item.OrderDate</td>
                                        <td>@item.StoreCity</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h6>List of stories is empty</h6>
                    }
                </div>
            </div>

            <div class="group" style="width:30%">
                <div class="gridGroup">
                    <div class="box"><h5>Notes</h5></div>
                    <div style="text-align:end">
                        <a asp-controller="Note" asp-action="Create" asp-route-Id="@Model.Company.Id" class="text"><i class="fa-solid fa-plus fa-lg"></i></a> &nbsp;
                    </div>
                </div>
                <div class="scrollItem">
                    @if (Model.Notes.Count() > 0)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Invoice Number</th>
                                    <th>Employee</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.Notes)
                                {
                                    <tr>
                                        <td>@item.InvoiceNumber</td>
                                        <td>@item.Employee</td>
                                        <td style="text-align:center">
                                            <a asp-controller="Note" asp-route-Id="@item.Id" asp-action="Delete" class="text">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h6>Add new note</h6>
                    }
                </div>
            </div>

            <div class="group" style="width:calc(60% + 20px)">
                <div class="row">
                    <div class="col">
                        <div class="gridGroup">
                            <div class="box"><h5>Employees</h5></div>
                            <div style="text-align:end">
                                <a asp-controller="Employee" asp-action="Create" asp-route-Id="@Model.Company.Id" class="text"><i class="fa-solid fa-plus fa-lg"></i></a> &nbsp;
                            </div>
                        </div>

                        <div class="scrollItem">
                            @if (Model.Employees.Count > 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Invoice Number</th>
                                            <th>Employee</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model.Employees)
                                        {
                                            <tr>
                                                <td>
                                                    <a asp-controller="Companies" asp-route-employeeId="@item.Id" asp-action="Details" class="text">
                                                        @item.FirstName
                                                    </a>
                                                </td>
                                                <td>
                                                    <a asp-controller="Companies" asp-route-employeeId="@item.Id" asp-action="Details" class="text">
                                                        @item.LastName
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h6>Add new employee</h6>
                            }
                        </div>
                    </div>
                    <div class="col">
                        <div class="gridGroup">
                            <div class="box"><h5>Employee</h5></div>
                            <div style="text-align:end">
                                @if (Model.Employee != null)
                                {
                                    <a asp-controller="Employee" asp-action="Update" asp-route-Id="@Model.Employee.Id" class="text"><i class="fa-solid fa-pen fa-lg"></i>&nbsp;</a>
                                    <a asp-controller="Employee" asp-action="Delete" asp-route-Id="@Model.Employee.Id" class="text"><i class="fa-solid fa-trash fa-lg"></i></a>
                                }
                            </div>
                        </div>
                        <div class="gridGroup">
                            @if (Model.Employee != null)
                            {
                                <div class="box">First Name:</div>

                                <div class="form-control">@Model.Employee.FirstName</div>

                                <div class="box">Last Name:</div>
                                <div class="form-control">@Model.Employee.LastName</div>

                                <div class="box">Title:</div>
                                <div class="form-control">@Model.Employee.Title</div>

                                <div class="box">Birth Date:</div>
                                <div class="form-control">@Model.Employee.BirthDate.ToShortDateString()</div>

                                <div class="box">Position:</div>
                                <div class="form-control">@Model.Employee.Position</div>
                            }
                            else
                            {
                                <h6>select an employee</h6>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


